body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

.playerPanel {
    display: flex;
    font-size: 32px;
    margin-bottom: 32px;
}

.playerPanel div {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
}

.playerPanel img{
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.playerInactive {
    opacity: 0.5;
}

table {
    border-collapse: collapse;
}

tr {
    width: 399px;
}

td {
    position: relative;
    width: 133px;
    height: 133px;
    border: 5px solid black;
    cursor: pointer;
}

td:hover {
    background-color: rgba(92, 0, 221, 0.1);
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

.shape {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 26px;
    top: 26px;
}

.d-none {
    display: none;
}

.horizontalLine1 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 350px;
    position: absolute;
    top: 305px;
}

.horizontalLine2 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 350px;
    position: absolute;
    top: 444px;
}
.horizontalLine3 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 350px;
    position: absolute;
    top: 585px;
}

.horizontalLine4 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 350px;
    position: absolute;
    top: 444px;
    left: 359px;
}

.horizontalLine5 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 350px;
    position: absolute;
    top: 441px;
}

.horizontalLine6 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 350px;
    position: absolute;
    top: 444px;
    right: 362px
}

.horizontalLine7 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 450px;
    position: absolute;
    top: 441px;
}

.horizontalLine8 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 450px;
    position: absolute;
    top: 441px;
}

.spin-45deg1 {
    transform: rotate(45deg);
}

.spin-45deg2 {
    transform: rotate(-45deg);
}

.makeVertical {
    transform: rotate(90deg);
}