body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

.playerPanel {
    display: flex;
    font-size: 32px;
    margin-bottom: 32px;
}

.playerPanel div {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
}

.playerPanel img {
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.playerInactive {
    opacity: 0.5;
}

table {
    border-collapse: collapse;
}

tr {
    width: 399px;
}

td {
    position: relative;
    width: 133px;
    height: 133px;
    border: 5px solid black;
    cursor: pointer;
}

td:hover {
    background-color: rgba(92, 0, 221, 0.1);
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

.shape {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 26px;
    top: 26px;
}

.d-none {
    display: none;
}

.horizontalLine1 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 390px;
    position: absolute;
    top: 152px;
    left: 10px;
    transform: scale(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.horizontalLine2 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 390px;
    position: absolute;
    top: 293px;
    left: 10px;
    transform: scale(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.horizontalLine3 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 390px;
    position: absolute;
    top: 433px;
    left: 10px;
    transform: scale(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.horizontalLine4 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 390px;
    position: absolute;
    top: 293px;
    right: 166px;
    transform: scale(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.horizontalLine5 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 390px;
    position: absolute;
    top: 293px;
    left: 11px;
    transform: scale(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.horizontalLine6 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 390px;
    position: absolute;
    top: 293px;
    left: 150px;
    transform: scale(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.horizontalLine7 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 506px;
    position: absolute;
    top: 293px;
    left: -48px;
    transform: scale(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.horizontalLine8 {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 504px;
    position: absolute;
    top: 294px;
    right: -30px;
    transform: scale(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.spin-45deg1 {
    transform: rotate(45deg) scale(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.spin-45deg2 {
    transform: rotate(-45deg) scale(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.makeVertical {
    transform: rotate(90deg) scale(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.gameOver {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    animation: zoomIn 225ms ease-in-out;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        scale: (1);
    }
}

.reStart {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #1C0B7F;
    z-index: 2;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 40px;
    position: absolute;
    bottom: 60px;
    border-radius: 25px;
}

.reStart:hover {
    background-color: rgb(59, 40, 168);
    cursor: pointer;
}

.undecIded {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    z-index: 2;

}

.undecidedImg {
    width: 100%;
    height: 62vh;
    position: absolute;
    animation: zooIn 225ms ease-in-out;
}

@keyframes zooIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        scale: (1);
    }
}

.undecidedText {
    z-index: 1;
    font-size: 60px;
    margin-top: -60px;
}

.mainDiv {
    position: relative;
}

@media (max-width:415px) {
    .horizontalLine8 {
        width: 418px;
        top: 312px;
        right: -6px;
    }

    .horizontalLine7 {
        width: 449px;
        top: 297px;
        left: -28px;
    }

    .horizontalLine4 {
        width: 390px;
        top: 308px;
        right: 137px;
    }

    .horizontalLine5 {
        width: 390px;
        top: 306px;
        left: 6px;
    }

    .horizontalLine6 {
        width: 390px;
        top: 308px;
        left: 140px;
    }

    .horizontalLine1 {
        width: 390px;
        top: 169px;
        left: 4px;
    }

    .horizontalLine2 {
        width: 390px;
        top: 308px;
        left: 6px;
    }

    .horizontalLine3 {
        width: 390px;
        top: 448px;
        left: 5px;
    }
}

@media (max-width:394px) {
    .horizontalLine1 {
        width: 375px;
        left: 3px;
    }

    .horizontalLine2 {
        width: 375px;
        left: 3px;
    }

    .horizontalLine3 {
        width: 375px;
        left: 3px;
    }

    .horizontalLine4 {
        right: 118px;
    }

    .horizontalLine5 {
        left: 0px;
    }

    .horizontalLine6 {
        left: 127px;
    }
}

@media (max-width:391px) {
    .horizontalLine1 {
        width: 373px;
        left: 2px;
    }

    .horizontalLine2 {
        width: 373px;
        left: 2px;
    }

    .horizontalLine3 {
        width: 373px;
        left: 2px;
    }

    .horizontalLine6 {
        left: 127px;
    }

    .horizontalLine4 {
        right: 118px;
    }

    .horizontalLine5 {
        left: 0px;
    }
}

@media (max-width:376px) {
    .horizontalLine8 {
        width: 449px;
        top: 305px;
        right: -41px;
    }

    .horizontalLine7 {
        width: 490px;
        top: 299px;
        left: -53px;
    }

    .horizontalLine1 {
        width: 349px;
        top: 167px;
        left: 19px;
    }

    .horizontalLine2 {
        width: 349px;
        top: 308px;
        left: 19px;
    }

    .horizontalLine3 {
        width: 349px;
        top: 448px;
        left: 19px;
    }

    .horizontalLine4 {
        width: 390px;
        top: 310px;
        right: 118px;
    }

    .horizontalLine5 {
        width: 390px;
        top: 305px;
        left: 0px;
    }

    .horizontalLine6 {
        width: 390px;
        top: 305px;
        left: 127px;
    }
}

@media (max-width:281px) {
    .mainDiv {
        width: 40vh;
    }

    .shape {
        width: 50px;
    }

    .playerPanel {
        flex-direction: column;
    }
}